In [ ]:
from collections import OrderedDict
N = int(input('Pls enter the number of items : '))
nst = []
ord_dct = OrderedDict()
for i in range (1,N+1) :
    string = input('Please inter the Name of item and price  :  ')
    lst = string.split()
#     print(lst[0],lst[1])
    nst.append(lst[0])
    ord_dct[lst[0]] =int(lst[1])
print(ord_dct)

In [ ]:
Task
Given an integer,

, perform the following conditional actions:

    If 

is odd, print Weird
If
is even and in the inclusive range of to
, print Not Weird
If
is even and in the inclusive range of to
, print Weird
If
is even and greater than , print Not Weird

In [ ]:
n = 3

In [ ]:
lt= []
for i in range (n):
    for j in range (n):
        for k in range (n):
            if i+j+k<n:
                lt.append([i,j,k])

In [ ]:
lt

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
lst = []
for i in range(x+1) :
    for j in range(y+1) :
        for k in range(z+1) :
            if (i+j+k != n ):
                lst.append([i,j,k])
print(lst)

In [ ]:

n = 4
lst =[]
for i in range(1,n+1) :
    lst.append(str(i))
print(int(''.join(lst)))

In [ ]:
lst = []
n = int(input())
arr = map(int, input().split())
for i in arr:
    lst.append(i)
sorted(list(set(lst)) )[-2]

In [ ]:
note = input().rstrip().split()

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

    The year can be evenly divided by 4, is a leap year, unless:
        The year can be evenly divided by 100, it is NOT a leap year, unless:
            The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

In [ ]:
def 
x = int(input('pls enter the year :  '))
lp = False
if x%4==0:
    lp = True
    if x%100 ==0:
        lp = False 
        if x%400 ==0 :
            lp = True
print(lp)

In [ ]:
# , arr, n, k
k = 4

Z = sorted(list(X))
for i in range(len(Z)) :
    if Z[i]==k:
        x = i
    else :
        x= -1

In [41]:
arr = '1 5 2 5 5'
X = list(set(map(int,arr.split())))
k = 4

In [42]:
if k in X:
    print(X.index(k))
else :
    print(-1)
#     if i ==k:
#         m = X.index(i)
#     elif i !=k:
#         m = -1
# m

-1

In [28]:
in

-1

In [1]:
s1 = 'ABCDCDC'
s2 = 'CDC'

In [2]:
if s2 in s1:
    print(s2)

CDC

In [3]:
i=0
for s2 in s1 :
    i+=1
print(i)

7

In [8]:
for i in s1:
    if s1==i :
        print(s1)
    else:
        print('No')

No
No
No
No
No
No
No

In [10]:
#Code
try:
    print(1/0)
except ZeroDivisionError as e:
    print("Error Code:",e)

Error Code: division by zero